<div class="sec"></div><a href="/" style="position: absolute; margin: 2%;">На главную</a>

<h5>{{ttitle}}</h5>

    <a class="control prev" href="/f" role="button"></a>
    <a class="control next" href="/h" role="button"></a>


<script>
    let a = +prompt ('введите двухзначное число:');
    let b;
    b = Math.trunc(a / 10);
    
    alert ('Число десятков в "' + a + '"' + ' равна: ' + b);
</script>