<h1 style="text-align: center; color:#0174dc">Все задачи:</h1>
<div class="all__content">
    
        <div class="content">
                <a href="/a"><h3>A</h3></a>
         </div>
        <div class="content">
                <a href="/b"><h3>B</h3></a>
         </div>
         <div class="content">
                <a href="/c"><h3>C</h3></a>
         </div>
         <div class="content">
                <a href="/d"><h3>D</h3></a>
         </div>
        <div class="content" style="background: rgb(231, 4, 4);">
                <a href="/e" ><h3>E</h3></a>
         </div>
         <div class="content">
                <a href="/f"><h3>F</h3></a>
         </div>
         <div class="content">
                <a href="/j"><h3>G</h3></a>
         </div>
        <div class="content">
                <a href="/h"><h3>H</h3></a>
         </div>
         <div class="content">
                <a href="/i"><h3>I</h3></a>
         </div>
         <div class="content">
                <a href="/j"><h3>J</h3></a>
         </div>
         <div class="content" style="background: rgb(231, 4, 4);">
                <a href="/k"><h3>K</h3></a>
         </div>
         <div class="content" style="background: rgb(231, 4, 4);">
                <a href="/l"><h3>L</h3></a>
         </div>
         <div class="content">
                <a href="/m"><h3>M</h3></a>
         </div>
         <div class="content">
                <a href="/n"><h3>N</h3></a>
         </div>
         <div class="content">
                <a href="/o"><h3>O</h3></a>
         </div>
         <div class="content">
                <a href="/p"><h3>P</h3></a>
         </div>
</div>
 