<div class="sec" style="background: red;"></div><a href="/" style="position: absolute; margin: 2%;">На главную</a>

<h5>{{ttitle}}</h5>

    <a class="control prev" href="/i" role="button"></a>
    <a class="control next" href="/k" role="button"></a>


<script>
    {{!-- let N = +prompt ('введите целое число:');
    let day = 24;
    let s = 0;
    let i = 1;

    let hour = Math.floor(N / 60);
    let min = N - (hour * 60)

    
        while(day < hour){
            s = s + i;
            i = i + 10;
        }
        alert(s + ' ' + min)
    --}}
    
</script>