<div class="sec"></div><a href="/" style="position: absolute; margin: 2%;">На главную</a>

<h5>{{ttitle}}</h5>

    <a class="control prev" href="/j" role="button"></a>
    <a class="control next" href="/l" role="button"></a>


<script>
   let a = prompt("вводим число", 155);

   
    
   
    
</script> 
 {{!-- while(day < hour){
            s = s + i;
            i = i + 10;
        }
        alert(s + ' ' + min) --}}


         {{!-- let N = +prompt ('введите целое число:');
    let day = 24;
    let hour = 60;
    let s = 0;
    let t = 1;
    let g = 0;
    let min;

    for (let i = 0; i < N; i = i + hour){
        s = s + t
        g = g + i
    } 
    if (N < g){
          s = s - t;
          min = N - (s * 60)
          alert(s);
          alert(min);
       } 
        else {
          min = 0;
          alert(s);
          alert(min);
       }
     --}}