<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
        <header>
          
          <h1>{{title}}</h1>
          
        </header>
  <body>
    <div class="wrapper">
        {{{body}}}
    </div>
  </body>
</html>
