<div class="sec" ></div><a href="/" style="position: absolute; margin: 2%;">На главную</a>

<h5>{{ttitle}}</h5>

    <a class="control prev" href="/m" role="button"></a>
    <a class="control next" href="/o" role="button"></a>


<script>
   alert("Задание еще не выполнено!!!")
</script>